@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "kohoRegular";
  src: local("KoHo-Regular"), url('./assets/fonts/KoHo-Regular.ttf'), format("truetype");
}

@font-face {
  font-family: "kohoBold";
  src: local("KoHo-Bold"), url('./assets/fonts/KoHo-Bold.ttf'), format("truetype");
}

@font-face {
  font-family: "kohoSemibold";
  src: local("KoHo-SemiBold"), url('./assets/fonts/KoHo-SemiBold.ttf'), format("truetype");
}